{default, [
    {platform,          "centos-64"},
    {tls,          false},
    % {log_lever,      debug},
    {conn_fail_time,    30000},
    {load_workers,      10},
    {rt_harness,        rtdev},
    {rt_max_wait_time,  600000},
    {rt_retry_delay,    1500},
    {rt_scratch_dir,    "/tmp/riak_test_scratch"},
    % {basho_bench,       "/root/work/src/github/basho/basho_bench"},
    {spam_dir,          "/root/tmp/spam.0"},
    {features,          [wday_test_data]}

]}.

{riak, [
    {rt_project, "riak"},
        {rtdev_path, [
        {root,             "/root/rt/riak"},
        {current,          "/root/rt/riak/openriak"}
        % ,{previous,         "/root/rt/riak/openriak.prev"}
    
        ]}

]}.
