[
 {riak_core,
  [
   %% The cluster manager will listen for connections from remote
   %% clusters on this ip and port. Every node runs one cluster
   %% manager, but only the cluster manager running on the
   %% cluster_leader will service requests. This can change as nodes
   %% enter and leave the cluster.
   {cluster_mgr, {"{{cluster_manager_ip}}", {{cluster_manager_port}} } },
   {schema_dirs, ["{{platform_lib_dir}}/../share/schema"]}
  ]},
  
{setup,
  [
   {home, "{{platform_data_dir}}/setup"}
  ]}
].
